name: edpacca

services:
  dev:
    build:
      context: .
      dockerfile: ./docker/dockerfile
    ports:
      - "5000:5000"
    volumes:
      - .:/app
      - /app/node_modules
    environment:
      - NODE_ENV=production
      - PORT=5000
