/* Thin Light */
@font-face {
    font-family: "JetBrainsMono";
    src: url("/fonts/JetBrains_Mono/JetBrainsMono-Thin.ttf");
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: "JetBrainsMono";
    src: url("/fonts/JetBrains_Mono/JetBrainsMono-ThinItalic.ttf");
    font-weight: 100;
    font-style: italic;
}

/* Extra Light */
@font-face {
    font-family: "JetBrainsMono";
    src: url("/fonts/JetBrains_Mono/JetBrainsMono-ExtraLight.ttf");
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: "JetBrainsMono";
    src: url("/fonts/JetBrains_Mono/JetBrainsMono-ExtraLightItalic.ttf");
    font-weight: 200;
    font-style: italic;
}

/* Light */
@font-face {
    font-family: "JetBrainsMono";
    src: url("/fonts/JetBrains_Mono/JetBrainsMono-Light.ttf");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "JetBrainsMono";
    src: url("/fonts/JetBrains_Mono/JetBrainsMono-LightItalic.ttf");
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: "Inconsolata";
    src: url("/fonts/Inconsolata/Inconsolata-Light.ttf");
    font-weight: 300;
    font-style: normal;
}

/* Regular */
@font-face {
    font-family: "JetBrainsMono";
    src: url("/fonts/JetBrains_Mono/JetBrainsMono-Regular.ttf");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "JetBrainsMono";
    src: url("/fonts/JetBrains_Mono/JetBrainsMono-Italic.ttf");
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: "Inconsolata";
    src: url("/fonts/Inconsolata/Inconsolata-Regular.ttf");
    font-weight: 400;
    font-style: normal;
}

/* Medium */
@font-face {
    font-family: "JetBrainsMono";
    src: url("/fonts/JetBrains_Mono/JetBrainsMono-Medium.ttf");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "JetBrainsMono";
    src: url("/fonts/JetBrains_Mono/JetBrainsMono-MediumItalic.ttf");
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: "Inconsolata";
    src: url("/fonts/Inconsolata/Inconsolata-Medium.ttf");
    font-weight: 500;
    font-style: normal;
}

/* SemiBold */
@font-face {
    font-family: "JetBrainsMono";
    src: url("/fonts/JetBrains_Mono/JetBrainsMono-SemiBold.ttf");
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: "JetBrainsMono";
    src: url("/fonts/JetBrains_Mono/JetBrainsMono-SemiBoldItalic.ttf");
    font-weight: 600;
    font-style: italic;
}

/* Bold */
@font-face {
    font-family: "JetBrainsMono";
    src: url("/fonts/JetBrains_Mono/JetBrainsMono-Bold.ttf");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "JetBrainsMono";
    src: url("/fonts/JetBrains_Mono/JetBrainsMono-BoldItalic.ttf");
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: "Inconsolata";
    src: url("/fonts/Inconsolata/Inconsolata-Bold.ttf");
    font-weight: 700;
    font-style: normal;
}

/* Extra Bold */
@font-face {
    font-family: "JetBrainsMono";
    src: url("/fonts/JetBrains_Mono/JetBrainsMono-ExtraBold.ttf");
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: "JetBrainsMono";
    src: url("/fonts/JetBrains_Mono/JetBrainsMono-ExtraBoldItalic.ttf");
    font-weight: 800;
    font-style: italic;
}