@import '@fontsource/fira-mono';
@import 'fonts.css';

:root {
	/* Fonts */
	--font-body: JetBrainsMono, Roboto, Oxygen, Ubuntu, sans-serif;
	--font-text: Inconsolata, sans-serif;
	--font-mono: 'Fira Mono', monospace;

	/* Monochromes */
    --white: rgb(250, 235, 215);
    --white-50: rgba(250, 235, 215, 0.5);
    --black: rgb(0, 0, 0);
    --black-50: rgb(0, 0, 0, 0.5);

    --light-tan: rgb(220, 215, 200);
    --light-grey: rgb(150, 150, 150);
    --mid-grey: rgb(85, 85, 85);
    --grey: rgb(50, 50, 50);
    --dark-grey: rgb(20, 20, 20);

	/* Themes */
    --gold-bright: rgb(255, 177, 8);
    --gold-dark: rgb(194, 132, 0);
	--teal-bright: rgb(18, 235, 152);
	--teal-dark: rgb(4, 168, 105);
	--sky-bright: rgb(124, 207, 255);
	--sky-dark: rgb(6, 123, 190);
	--magenta-bright: rgb(248, 55, 119);
	--magenta-dark: rgb(248, 55, 119);

	/* Global Theme */
	--bg0: var(--dark-grey);
	--bg1: var(--grey);
	--primary: var(--white);
	--secondary: var(--black);
	--tertiary: var(--dark-grey);
	--highlight: var(--gold-bright);
	--primary-50: var(--white-50);
	--secondary-50: var(--black-50);

	/* Sizes */
	--margin: 12px;
	--border-radius: 4px;
	--page-margin: auto;
	--page-width: 800px;
	--image-margin: 10%;

	/* Other */
	--transition-time: 0.4s;
}

@media screen and (max-width: 1200px) {
	:root {
		--page-margin: 10%;
		--page-width: 100%;
	}
}

@media screen and (max-width: 600px) {
	:root {
		--page-margin: 1em;
		--image-margin: 0;
	}
}

:root {
	font-family: var(--font-body);
	color: var(--primary);
}

.background {
	background-image: linear-gradient(180deg, var(--bg1) 0%, var(--bg0) 25%);
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-color: var(--bg0);
	background-size: 100vw 100vh;
	height: 100%;
	width: 100%;
	z-index: -1;
	position: fixed;
}

body {
	min-height: 100vh;
	margin: 0;
}

h1, h2, p {
	font-weight: 400;
}

.dragonhunter {
	font-family: DragonHunter;
}

p {
	line-height: 1.5;
	font-size: 1.3em;
	font-weight: 200;
	font-family: var(--font-text);
}

a {
	color: var(--highlight);
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

h1 {
	font-size: 2rem;
	text-align: center;
	font-weight: 100;
	color: var(--highlight);
}

h2 {
	font-size: 1.3rem;
	margin-bottom: 0em;
}

h2, h3, h4 {
	font-weight: bold;
	color: var(--highlight);
}

h2 + p {
	margin-top: 0em;
}

pre {
	font-size: 16px;
	font-family: var(--font-mono);
	background-color: rgba(255, 255, 255, 0.45);
	border-radius: 4px;
	padding: 0.5em;
	overflow-x: auto;
	color: var(--primary);
	box-shadow: 0px 0px 6px var(--primary-50)
}

.title {
	font-size: 1.5em;
	text-transform: uppercase;
	color: var(--primary);
}

.two-line-clamp {
	overflow: hidden;
	display: -webkit-box;
	line-clamp: 2;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
}

img.post-image {
	width: 100%;
	height: 100%;
	border-radius: 4px;
}

img.square {
	width: 50%;
	height: 50%;
}

img.cover-image {
	border-radius: 4px;
}

.post-image-container {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 2em var(--image-margin);
	flex-direction: column;
}

.image-grid {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 1em;
	margin: 2em 0;
}

.one-two-grid {
	display: grid;
	grid-template-columns: 1fr 2fr;
	grid-gap: 1em;
}

.caption {
	font-weight: 100;
	font-style: italic;
	color: var(--light-grey)
}

.nowrap {
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}

.date {
	color: var(--primary-50);
}

.summary-container {
	/* background-color: var(--grey); */
	padding: var(--margin);
	border-bottom: 2px solid var(--primary-50);
}

.relative {
	position: relative;
}

.img-bkg {
	background-color: var(--mid-grey);
}

.contents-list {
	color: var(--highlight);
}

.contents-list li {
	display: flex;
	align-items: center;
	flex-direction: row;
	gap: 1em;
	font-size: 2em;
}

ul {
	padding-left: 1em;
}

pre {
	tab-size: 4;
}

li {
	list-style-type: square;
}

.flex-center {
	display: flex;
	justify-content: center;
	align-items: center;
}

.button1 {
	background-color: var(--secondary-50);
	padding: var(--margin);
	border-radius: 6px;
	color: var(--primary);
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 0.5em;
	transition: var(--transition-time);
	font: var(--font-body);
	border: none;
	height: 2.5em;
}

.button1:hover {
	color: var(--highlight);
	transition: var(--transition-time);
}

img.gallery-img{
	border-radius: calc(2 * var(--border-radius));
}

.two-col {
	display: grid;
	grid-template-columns:  1fr 1fr;
}

.flex-row {
	display: flex;
	flex-direction: row;
}

.italic {
	font-style: italic;
}

@media screen and (max-width: 600px) {

	.title {
		font-size: 1.2em;
	}

	p {
		font-size: 1.2em;
	}

	.image-grid, .one-two-grid {
		grid-template-columns: 1fr;
	}

}

.debug {
	border: 1px solid yellow;
}